
venv/*
!venv/
!venv/NotebookStructure.ipynb
.venv/
.env

__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/

.ipynb_checkpoints/
.jupyter/

data/cleaned_sales_data.json

.vscode/
.DS_Store
Thumbs.db
